.header3 {
  position: relative;
  width: 100%;
  height: 110px;
  background-color: white;
}

.logo-image {
  width: 170px;
  height: 60px;
  padding: 22px;
  margin-left: 150px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: -85px;
  margin-left: 600px;
  font-weight: bold;
  font-size: 1rem;
  font-family: sans-serif;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item {
  margin-right: 35px;
  position: relative;
  z-index: 1;
}

.nav-item a {
  text-decoration: none;
  color: #333;
}
.nav-item a:hover,
.nav-item a.active {
  border-bottom: 2px solid rgb(255, 0, 183);
  padding-bottom: 51px;
  color: rgb(255, 0, 183);
}
.nav-item:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  z-index: 1;
  background-color: white;
  margin-top: 42px;
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  border-top: 2px solid blue;
  border-bottom: 2px solid #fff;
}

.dropdown-item {
  display: block;
  margin-bottom: 10px;
}

.dropdown-item:last-child {
  margin-bottom: 0;
}

.dropdown-item:not(:last-child) {
  border-bottom: 1px solid #000;
}

.dropdown-menu a {
  color: blue;
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 1rem;
}
.dropdown-menu a:hover {
  text-decoration: none;
  border-bottom: 1px solid black;
  padding-bottom: 0px;
  color: rgb(255, 0, 183);
}

.dropdown-menu a.last-dropdown-item {
  text-decoration: none;
}

.dropdown-menu a.last-dropdown-item:hover {
  border-bottom: none;
}
.search-bar {
  display: flex;
  align-items: center;
  margin-right: 210px;
  border: none; /* Add position relative to create stacking context */
}

.search-bar button {
  background-color: transparent;
  border: none;
  margin-left: 8px;
  cursor: pointer;
}
