.container {
  background-color: black;
  width: 100%;
  height: 70px;
}
.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}
.logo {
  margin-top: 20px;
  margin-left: 10px;
  width: 200px; /* Adjust the width as needed */
  height: 25px; /* This will maintain the aspect ratio of the image */
}

.button {
  margin-top: -33px;
  background-color: green;
  width: 100px;
  margin-left: 1400px;
  height: 40px;
}

.bookButton {
  background-color: green;
  border: none;
  font-weight: bold;
  margin-left: 1400px; /* Adjust the width as needed */
}
